.content-container {
  display: flex;
  justify-content: space-between;
}

.page-container {
  background-color: white;
  padding: 20px;
}

.card-details-container {
  flex: 3;
  display: flex;
  gap: 40px;
  margin-left: 80px;
  margin-right: 80px;
  align-items: flex-start;
}

.card-image img {
  min-width: 300px;
  height: auto;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 10px;
}

.rarity-box {
  display: inline-block;
  background-image: linear-gradient(to bottom right, rgb(255, 228, 129), rgb(255, 207, 31));
  border-radius: 8px;
  padding: 5px 10px;
  color: rgb(65, 31, 12);
}

.card-price {
  margin-top: 60px;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: rgb(47, 92, 255)
}

.see-more-section .row {
  display: flex;
  gap: 20px;
}

.listings-panel {
  flex: 1;
  background-color: #f6f6f6;
  padding: 20px;
  margin-left: 10px;
  margin-right: 80px;
}

.listing-row {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.btn-success {
  background-color: rgb(104, 255, 104);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 5px;
}

.col-md-2 {
  flex: 0 0 auto;
  width: 16.66667%;
}

.card-link {
  display: block;
  text-align: center;
}

.card__title {
  margin-bottom: 10px;
}

.live-indicator {
  height: 10px;
  width: 10px;
  background-color: #00ff3c;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
