.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.page-container {
  background-color: white;
  padding: 20px;
}

.card-details-container {
  flex: 3;
  display: flex;
  gap: 40px;
  margin-left: 80px;
  align-items: flex-start;
}

.card-image img {
  min-width: 300px;
  height: auto;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 10px;
}

.rarity-box {
  display: inline-block;
  background-image: linear-gradient(to bottom right, rgb(255, 228, 129), rgb(255, 207, 31));
  border-radius: 8px;
  padding: 5px 10px;
  color: rgb(65, 31, 12);
}

.card-price {
  margin-top: 60px;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: rgb(47, 92, 255)
}

.see-more-section .row {
  display: flex;
  gap: 20px;
}

.listings-panel {
  flex: 1;
  background-color: #fdfdfd;
  color: #000000;
  padding: 20px;
  margin-left: 90px;
  margin-right: 80px;
  max-width: 400px;
  height: 400px;
  overflow-y: auto;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
}

.listings-panel h6 {
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
}

.listing-details {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.username {
  color: #007bff;
  font-size: 0.9em;
}

.listing-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px;
}

.listing-details > div {
  font-size: 1em;
}

.listing-details > span {
  font-size: 0.8em;
  margin-top: 10px;
  color:rgb(101, 101, 101)
}

.buy-button {
  margin-left: auto;
}

.btn-success {
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 5px;
}

.none-for-sale {
  text-align: center;
  color: rgb(175, 175, 175);
  padding: 20px;
}

.col-md-2 {
  flex: 0 0 auto;
  width: 16.66667%;
}

.card-link {
  display: block;
  text-align: center;
}

.card__title {
  margin-bottom: 10px;
}

.live-indicator {
  height: 10px;
  width: 10px;
  background-color: #00ff3c;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
