.main-content {
  margin-left: 60px;
}

.transactions-container {
  padding: 20px;
}

.transaction-section,
.transaction-table {
  width: 100%;
}

.box-counter {
  background-color: #181818;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
}

.transaction-table {
  margin-top: 30px;
  border-radius: 6px;
  border: 1px solid #f2f2f2;

  th,
  td {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
    position: relative;
  }

  th {
    background-color: #f2f2f2;
    color: #8e8e8e;
    font-size: 12px;
  }

  td img {
    max-width: 60px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
  }

  .for-sale-overlay,
  .sold-overlay {
    background-color: #181818;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
    z-index: 1;
  }

  .sold-overlay {
    background-color: #181818;
  }

  .transaction-card-name a {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
    color: #181818;
    text-decoration: none;
  }

  .user-info p {
    margin-bottom: 0;
  }

  .user-info p span,
  .delete-button {
    color: #4BA5FF;
  }

  .transaction-metadata,
  .transaction-date-box,
  .transaction-price,
  .sale-status {
    position: relative;
    font-size: 14px;
  }

  .transaction-date-box {
    background-color: rgb(235, 235, 235);
    color: #181818;
    padding: 2px 5px;
    border-radius: 4px;
  }

  .transaction-price {
    font-weight: bold;
  }

  .sale-status {
    white-space: nowrap;
    padding: 2px 5px;
    color: white;
    border-radius: 25px;
    top: 5px;
    right: 5px;
  }
}

.box-counter-for-sale,
.box-counter-sold {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.transactions-container .transaction-section h2 {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.transactions-container .transaction-section h2 span {
  margin-left: 5px;
}
