.transactions-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.transaction-section {
  width: 49%;
}

.transaction-table {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #f2f2f2;
}

.transaction-table th,
.transaction-table td {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px;
  position: relative;
}

.transaction-table th {
  background-color: #f2f2f2;
  color: #8e8e8e;
  font-size: 12px;
}

.transaction-table td img {
  max-width: 60px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.transaction-table .for-sale-overlay,
.transaction-table .sold-overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #181818;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  z-index: 1;
  font-size: 12px;
}

.transaction-table .transaction-card-name a {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
  color: #181818;
  text-decoration: none;
}

.transaction-table .user-info p {
  margin-bottom: 0;
}

.transaction-table .user-info p span {
  color: #4BA5FF;
}

.transaction-table .transaction-metadata {
  position: relative;
}

.transaction-table .transaction-date-box {
  background-color: rgb(235, 235, 235);
  color: #181818;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 14px;
}

.transaction-table .transaction-price {
  font-weight: bold;
}

.transaction-table .sale-status {
  white-space: nowrap;
  padding: 2px 5px;
  color: white;
  border-radius: 25px;
  font-size: 14px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.for-sale-overlay {
  background-color: #181818;
}

.sold-overlay {
  background-color: #181818;
}

.delete-button {
  color: #EA3C32;
  text-decoration: none;
  font-size: 14px;
}

.box-counter-for-sale {
  background-color: #181818;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.box-counter-sold {
  background-color: #4BA5FF;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.box-counter {
  background-color: #181818;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.transactions-container .transaction-section h2 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.transactions-container .transaction-section h2 span {
  margin-left: 5px;
}

.transactions-container .transaction-section .transaction-table {
  border-radius: 6px;
  width: 100%;
  border: 1px solid #D9D9D9;
}
