<style>
  a {
    text-decoration: none;
  }
</style>

<footer class="text-center text-white" style="background-color: #181818">
  <div class="container">
    <section class="mt-5">
      <div class="row text-center d-flex justify-content-center pt-5">
        <% footer_links = [
          { name: 'Browse', href: 'http://localhost:3000/cards' },
          { name: 'Transactions', href: 'http://localhost:3000/listings/transactions' },
          { name: 'Help', href: '#!' },
          { name: 'Contact', href: 'http://localhost:3000/contact' }
        ] %>
        <% footer_links.each do |link| %>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="<%= link[:href] %>" class="text-white"><%= link[:name] %></a>
            </h6>
          </div>
        <% end %>
      </div>
    </section>

    <hr class="my-5" />

    <section class="mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <p>
            Welcome to our Pokémon Trading Card Marketplace! Explore a vibrant
            hub where enthusiasts buy and sell Pokémon TCG cards to expand their
            collections, complete decks, and connect with fellow trainers. Join
            our community-driven platform to discover rare finds, engage in
            trades, and experience the thrill of becoming the ultimate Pokémon
            Master
          </p>
        </div>
      </div>
    </section>

    <section class="text-center mb-5">
      <% social_links = [
        { icon: 'fab fa-x-twitter', href: '' },
        { icon: 'fab fa-google', href: '' },
        { icon: 'fab fa-instagram', href: '' },
        { icon: 'fab fa-github', href: '' }
      ] %>
      <% social_links.each do |link| %>
        <a href="<%= link[:href] %>" class="text-white me-4">
          <i class="<%= link[:icon] %>"></i>
        </a>
      <% end %>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-white" href="https://lewagon.com/">Pokedex.com</a>
  </div>
</footer>
