<style>
  a {
    text-decoration: none;
  }
</style>

<footer class="text-center text-white" style="background-color: #181818">
  <div class="container">
    <section class="mt-5">
      <div class="row text-center d-flex justify-content-center pt-5">
        <% footer_links = [
          { name: 'Home', href: 'http://localhost:3000/' },
          { name: 'Browse Cards', href: 'http://localhost:3000/cards' },
          { name: 'Help', href: 'http://localhost:3000/contact' }
        ] %>
        <% footer_links.each do |link| %>
          <div class="col-md-2">
            <p class="text-uppercase font-weight-bold">
              <a href="<%= link[:href] %>" class="text-white"><%= link[:name] %></a>
            </p>
          </div>
        <% end %>
      </div>
    </section>

    <hr class="my-5" />

    <section class="mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <p style="color: #A3A3A3; font-size: 13px;">
            Pokédex is the world's highest-rated Pokémon Trading Card Marketplace where enthusiasts buy and sell Pokémon TCG cards to expand their
            collections, complete decks, and connect with fellow trainers. Join our community-driven platform to discover rare finds, engage in
            trades, and experience the thrill of becoming the ultimate Pokémon Master.
          </p>
        </div>
      </div>
    </section>

    <section class="text-center mb-5">
      <% social_links = [
        { icon: 'fab fa-x-twitter', href: 'https://github.com/DDF93/pokedex' },
        { icon: 'fab fa-google', href: 'https://github.com/DDF93/pokedex' },
        { icon: 'fab fa-instagram', href: 'https://github.com/DDF93/pokedex' },
        { icon: 'fab fa-github', href: 'https://github.com/DDF93/pokedex' }
      ] %>
      <% social_links.each do |link| %>
        <a href="<%= link[:href] %>" class="text-white me-4">
          <i class="<%= link[:icon] %>"></i>
        </a>
      <% end %>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-white" href="https://lewagon.com/">Pokedex.com</a>
  </div>
</footer>
