<div class="sidenav">
  <a href="/items_for_sale" title="Items for Sale"><i class="fa-solid fa-store"></i></a>
  <a href="/sold_items" title="Sold Items"><i class="fa-solid fa-money-bill"></i></a>
  <a href="/my_purchases" title="My Purchases"><i class="fa-solid fa-box"></i></a>
  <a href="/settings" class="settings" title="Settings"><i class="fa-solid fa-gear"></i></a>
</div>
