<body class="contact-page">
<div style="text-align: center; padding: 50px 0 0 0;">
  <h2>Submit a support ticket</h2>
  <p>Fill out the form below and we'll get back to you as soon as possible.</p><br>
</div>
  <div class="centered-form">
    <form action="/submit_contact" method="post">
      <label for="fname">First Name:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last Name:</label><br>
      <input type="text" id="lname" name="lname"><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email"><br>
      <label for="subject">Subject:</label><br>
      <input type="text" id="subject" name="subject"><br>
      <label for="message">Your Message:</label><br>
      <textarea id="message" name="message"></textarea><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
