<div class="container">
  <% @cards.each_slice(6) do |card_group| %>
    <div class="row">
      <% card_group.each do |card| %>
        <div class="col-md-2">
          <%= link_to card_path(card), class: 'card' do %>
            <div class="card__title">
              <%= card.name %>
            </div>
            <%= image_tag(card.image_url, alt: "Description", class: "img-fluid") %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
