.navbar-lewagon {
  justify-content: space-between;
  background: #FF262E;
  border-bottom: 1px solid #dcdcdc;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  max-height: 30px;
}

.nav-link {
  color: white;
}
