.navbar-lewagon {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  max-height: 30px;
}

.nav-link {
  color: #181818;
  margin-right: 16px;
}

body {
  padding-top: 58px;
}
