.pagination-container {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  list-style: none;

  a,
  .current,
  .next_page,
  .previous_page {
    padding: 5px 10px;
    margin: 0 10px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    color: $gray;

    &:hover {
      border-color: $gray;
    }
  }

  .current {
    background-color: $gray;
    color: #fff;
    font-style: normal;
  }

  a {
    background-color: #f9f9f9;
  }
}
