/* Center the pagination links */
.pagination {
  text-align: center;
  justify-content: center;
}

/* Adjust the spacing between pagination links */
// .pagination > li {
//   margin-right: 5px;
// }

/* Adjust the padding inside each pagination link */
.pagination > a,
.pagination > .current,
.pagination > .next_page {
  padding: 0px 20px;
}

.pagination > span {
  vertical-align: middle;
}
